template(name="home")
  .ui.text.container.segment
    h1.ui.header Where are you?
    form.ui.form($b="submit:submit")
      .field
        label Your Location:
        input(type="text", placeholder="enter city" $b="value:locationInput")
  unless currentUser
    .ui.center.aligned.text.container.segment
      p If you were logged in, you could click on a bar to let other users know, that you plan to be going there.
  .ui.text.container.segment($b="class : {loading :  loading}")
    h2.ui.header Bars around #{locationQuery}
    .ui.relaxed.divided.list($b="class : {selection : currentUser}")
      each bars
        +barView
    
template(name="barView")
  .item($b="click:toggleGoing")
    if areGoing
      .ui.right.floated.blue.label 
        i.users.icon
        | #{areGoing}
    .ui.image
      img(src=imageUrl)
      if imGoing
        .ui.red.ribbon.label I'm going
    .content
      h3.header #{name}
      .description
        each line in address
          | #{line} <br>
